html {
  scroll-behavior: smooth; /* Rolagem suave ao clicar nos links */
  scroll-padding-top: 80px; /* Garante que o título da seção não fique escondido atrás da navbar */
}

body {
  font-family: sans-serif; /* Apenas garantindo uma fonte padrão */
}